<div class="container">
  <div class="row">
    <h4>PomeLifeとは？</h4>
  </div>
</div>
    
<div class="container">
  <div class="row">
    <p>　全てのポメラニアン好きが集うコミュニティサイトです。</p>
    <p>　全てのポメラニアン好きが集うコミュニティサイトです。</p>
  </div>
</div>
