<div class="container">
  <div class="row">
    <h4><%= current_customer.display_name %>さんがいいねした投稿</h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render 'public/posts/index' , posts: @posts %>
  </div>
</div>
